footer.footer
    div.footer-copyright.flex-container.default-padding-vertical.flex-align-items-baseline.flex-content-center
        span.footer-copyright--icon &#9400;
        h2.footer-copyright--title #{footer.copyright.title}