div#cd-nav
    a.cd-nav-trigger(href="#0") #{navigation.title}
        span
    nav#cd-main-nav
        ul
            each navigationItem in navigation.items
                li
                    a(href="#{navigationItem.reference}") #{navigationItem.label}
