body {
    background: #F0F2F7;
    font-family: "Montserrat", sans-serif;
}
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    opacity: 0;
}
.window {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 9999;
}
.welcome-window {
    text-align: center;
    width: 65%;
    margin: auto;
    padding: 2%;
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19, 26, 30, 0.9) 100%, rgba(19, 26, 30, 0.9) 100%), url("../img/welcome-bg.jpg");
    border-radius: 5%;
}
.welcome-window h1 {
    margin: 20px auto;
    text-align: center;
    color: whitesmoke;
    font-weight: 300;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.welcome-window .delimiter {
    height: 4px;
    width: 70px;
    background: #3B3F41 none repeat scroll 0 0;
    margin: 0 auto 25px auto;
}
.welcome-window p {
    text-align: center;
    color: #999999;
    font-size: 1em;
}
.welcome-window .welcome-page-button {
    display: inline-block;
    padding: 1.4em 1.6em;
    margin: 2em 5px;
    border-radius: 50em;
    background-color: #e25454;
    color: #FFF;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.welcome-window .welcome-page-button:hover {
    background-color: #283040;
    transition: 0.4s ease;
}
