@import "../../palette";
@import "../../custom";

.education {
  &-list {
    &-item {
      &--block {
        flex-grow: 1;
      }

      &--speciality {
        .no-margin;
        color: @text-color-secondary;
        border-bottom: 1px solid @text-color-primary;
        padding-bottom: 5px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 14px;
      }

      &--where {
        font-size: 14px;
        font-weight: 700;
        color: @text-color-secondary;
        margin: 7px 0;

        &--graduation {
          font-weight: 300;
        };
      }
      &--description {
        font-size: 13px;
        line-height: 19px;
        margin: 7px 0;
      }
    }
  }
}