@import "../../palette";
@import "../../custom";

.quote {
  background: @background-color-tertiary;
  color: @text-color-quaternary;
  padding: 17px;
  text-align: center;

  &-text {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 5px;
  }

  &-author {
    font-size: 14px;
    .bold;
  }
}

@media (max-device-width: 992px) {
  .quote {
    &-text {
      font-size: 52px;

    }

    &-author {
      font-size: 34px;
    }
  }
}