@import "../../palette";
@import "../../custom";

.skills {
  &-category {
    &-title {
      color: @text-color-secondary;
      border-bottom: 1px solid @text-color-primary;
      padding-bottom: 5px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 14px;
    }
  }
  &-list {
    &-item {
      font-size: 14px;
      margin: 7px 0;
      color: @text-color-secondary;

      &--icon {
        font-size: 16px;
        color: @text-color-primary;
      }
      &--name {
        margin-left: 10px;
      }
    }
  }
}