doctype
html
    head
        title #{cv.name}
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="css/cv.css")
    body
        aside
            include templates/cv/sidebar
        main
            content
                include templates/cv/sections/profile
                each section in cv.sidebar.nav
                    div(style="height: 700px; font-size: 100px;", id="#{section.name}") #{section.name}
                include templates/footer
                script(src="js/main-cv.js")