doctype
html
    head
        title #{cv.name}
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="css/cv.css")
        include templates/ga-script
    body
        aside
            include templates/cv/sidebar
        main
            content
                include templates/cv/sections/profile
                include templates/cv/sections/education
                include templates/cv/sections/experience
                include templates/cv/sections/skills
                include templates/cv/sections/projects
                include templates/cv/sections/feedbacks
                include templates/cv/quote
                script(src="js/main-cv.js")