doctype
html
    head
        title #{landing.title}
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat", rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="css/landing.css")
    body
        include templates/sections/home