doctype
html
    head
        title #{landing.title}
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat", rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Arizonia', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="css/landing.css")
    body
        include templates/navigation
        main
            include templates/sections/home
            include templates/sections/about
            include templates/sections/skills
            include templates/sections/projects
            include templates/sections/feedbacks
            include templates/sections/contacts
        include templates/footer
    script(src="https://maps.googleapis.com/maps/api/js")
    script(src="js/main-landing.js")