@import "palette";

@default-space-value: 25px;

//Flex styles
.flex-container {
  display: flex;
}
.flex-content-center {
  justify-content: center;
}
.flex-align-items-baseline {
  align-items: baseline;
}

.default-margin-top {
  margin-top: @default-space-value;
}
.default-margin-bottom {
  margin-bottom: @default-space-value;
}
.default-margin-right {
  margin-right: @default-space-value;
}
.default-margin-left {
  margin-left: @default-space-value;
}

.default-padding-top {
  padding-top: @default-space-value;
}
.default-padding-bottom {
  padding-bottom: @default-space-value;
}
.default-padding-right {
  padding-right: @default-space-value;
}
.default-padding-left {
  padding-left: @default-space-value;
}

.default-margin-horizontal {
  margin-left: @default-space-value;
  margin-right: @default-space-value;
}
.default-margin-vertical {
  margin-top: @default-space-value;
  margin-bottom: @default-space-value;
}

.default-padding-horizontal {
  padding-left: @default-space-value;
  padding-right: @default-space-value;
}
.default-padding-vertical {
  padding-top: @default-space-value;
  padding-bottom: @default-space-value;
}

.default-padding {
  .default-padding-vertical;
  .default-padding-horizontal;
}

.default-margin {
  .default-margin-vertical;
  .default-margin-horizontal;
}

.default-indentation {
  text-indent: @default-space-value;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.rectangle(@width, @height) {
  width: @width;
  height: @height;
}

.square(@length) {
  width: @length;
  height: @length;
}

.rounded {
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.auto-height {
  height: auto;
}
.auto-width {
  width: auto;
}

.bold {
  font-weight: 800;
}

.block {
  display: block;
}

//reusable section styles
.section-border {
  .block;
  margin: 20px auto;
  width: 80px;
  height: 2px;
  background-color: @text-color-tertiary;
}
.section-title {
  .no-padding;
  .block;
  .bold;
  margin: 27px 0;
  font-size: 60px;
  color: @text-color-primary;
}


//Carousel styles
.slick-dots {
  .flex-container;
  .flex-content-center;

  .slick-active {
    button {
      background: @background-color-quaternary;
    }
  }

  button {
    .square(12px);
    .rounded;
    margin: 0 5px;
    .no-padding;
    background: @text-color-secondary;
    border: none;
  }
}

@media (max-device-width: 992px) {
  .section-title {
    font-size: 80px;
  }

  .section-border {
    width: 300px;
    height: 6px;
    margin: 40px auto;
  }

  .slick-dots {
    button {
      .square(50px);
      .default-padding-horizontal;
      .default-margin-bottom;
    }
  }
}