@import "reset";
@import "palette";

@import "pages/footer";
@import "pages/cv/sidebar";

@import "pages/cv/profile";

body {
  display: flex;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  aside {
    width: 300px;
    min-width: 300px;
  }

  main {
    flex-grow: 1;
    background: @background-color-quinary;

    content {
      .block;
      max-width: 850px;
      background: @background-color-senary;
      margin: 75px auto;
    }
  }
}